*
!debian/
!winpe/
!ucode/
!boot/
!hostname
!search_file
!makeiso.sh

debian/*
!debian/gen.sh
!debian/clean.sh

winpe/*
!winpe/gen.sh

ucode/*
!ucode/gen.sh
!ucode/clean.sh

boot/*
!boot/gen.sh
!boot/clean.sh
!boot/grub
!boot/refind
!boot/bootmgr

boot/grub/*
!boot/grub/gen.sh
!boot/grub/grub-*.cfg
!boot/grub/grub-*.cfg.m4

boot/refind/*
!boot/refind/gen.sh
!boot/refind/refind.conf

boot/bootmgr/*
!boot/bootmgr/gen.bat
